@import url('utils.css');

.landing-page {
    height: 100vh;
    width: 100%;
    /* background-color: rgb(16, 16, 16); */
    background-image: linear-gradient(to right bottom, #300707, #290709, #23050a, #1c0409, #130206, #120303, #100302, #0e0401, #130800, #140e00, #111300, #071803);

}

.landing-page-container {
    /* background-color: var(--background-primary); */
    background-color: #101010a3;
    width: 100%;
    height: 100%;
    position: relative;
    backdrop-filter: blur(10px);
}


.landing-page-content {
    background-color: var(--background-navbar);
    text-align: center;
    padding: 1.5rem;
    border-radius: 1rem;
    color: #ffff;
    font-weight: 300;
    border: 1px solid var(--border-navbar);
    line-height: 4rem;
    position: absolute;
    z-index: 1;
    backdrop-filter: blur(5px);
    cursor: default;
    animation: fadeIn 1s forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(25px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }

}

.landing-page-content h1 span {
    padding: .3rem .5rem;
    border-radius: 1rem;
}

.landing-page-content h1::selection,
.landing-page-content h1 span::selection {
    display: none;
}

.landing-page-content h1:nth-child(1)>span {
    background-color: rgb(154, 99, 245);
}

.landing-page-content h1:nth-child(2)>span {
    background-color: rgb(246, 152, 81);
}

.landing-page-content h1:nth-child(3)>span {
    background-color: rgb(105, 204, 122);
}



.project-collections-container {
    width: 420px;
    height: 230px;
    background-color: rgba(102, 51, 153, 0);
    position: absolute;
}

.project-collections-container .project-container {
    width: 90px;
    height: 90px;
    border-radius: .5rem;
    transition: opacity 0.3s ease-in-out, transform 0.2s ease-in-out, top 0.3s ease-in-out, left 0.3s ease-in-out, right 0.3s ease-in-out, bottom 0.3s ease-in-out;
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.project-container img {
    height: 100%;
}

.project-container:nth-child(2) img {
    height: 50px;
    width: 100%;
    margin-bottom: 10px;
}

.project-container:nth-child(3) img {
    height: 50px;
    width: 100%;
    transform: scale(1.1);
}

.project-container:nth-child(2) {
    align-items: end;
}

.project-collections-container .project-container:nth-child(1) {
    background-image: linear-gradient(to left bottom, #ff4d8c, #ff5893, #fe6399, #fe6da0, #fd76a6);

    position: absolute;
    top: 0;
    left: 0;

}

.project-collections-container .project-container:nth-child(2) {
    background-image: linear-gradient(to top, #9ec9ff, #a4cafb, #a9ccf7, #afcdf2, #b4ceee);
    position: absolute;
    top: 0;
    right: 2rem;

}

.project-collections-container .project-container:nth-child(3) {
    background-image: linear-gradient(to right top, #69cc7a, #76cf84, #82d18f, #8ed499, #99d6a3);
    position: absolute;
    bottom: 1rem;
    right: 1rem;

}

.project-collections-container .project-container:nth-child(4) {
    background-image: linear-gradient(to right, #ee7271, #ed7f7e, #eb8c8b, #e89998, #e5a5a5);

    position: absolute;
    bottom: 0;
    right: 8rem;

}

.project-collections-container .project-container:nth-child(5) {
    background-image: linear-gradient(to bottom, #9a63f5, #a776f8, #b488fb, #c09bfd, #ccadff);
    position: absolute;
    bottom: 0;
    left: 0;
}

.landing-page-content:hover~.project-collections-container .project-container {
    opacity: 1;
}

.landing-page-content:hover~.project-collections-container .project-container:nth-child(1) {
    transform: rotate(-8deg) scale(2);
    top: -5rem;
    left: -3rem;
}

.landing-page-content:hover~.project-collections-container .project-container:nth-child(2) {
    transform: rotate(8deg) scale(2);
    top: -7rem;
    right: -3rem;
}

.landing-page-content:hover~.project-collections-container .project-container:nth-child(3) {
    transform: rotate(5deg) scale(2);
    right: -7rem;
}

.landing-page-content:hover~.project-collections-container .project-container:nth-child(4) {
    transform: rotate(-7deg) scale(2);
    bottom: -7rem;
}

.landing-page-content:hover~.project-collections-container .project-container:nth-child(5) {
    transform: rotate(4deg) scale(2);
    left: -6rem;
    bottom: -4rem;

}