@import url('utils.css');

body {
    background-color: rgb(16, 16, 16);
}

.projects-container {
    width: 60%;
    padding-top: 2rem;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(2,500px);
    /* align-items: center; */
    justify-content: center;
    margin-bottom: 100px;
}

.project-card {
    /* width: 49%; */
    background-color: rgba(33, 33, 33, .74);
    border: 1px solid rgba(255, 255, 255, .1);
    border-radius: 1.5rem;
    padding: 1.5rem;
    box-sizing: border-box;
    letter-spacing: 1px;
    animation: fadeIn 1s forwards;
}
.project-card:nth-child(1) .project-card-image{
    background-image: linear-gradient(to left bottom, #ff4d8c, #ff5893, #fe6399, #fe6da0, #fd76a6);
}
.project-card:nth-child(2) .project-card-image{
    background-image: linear-gradient(to top, #9ec9ff, #a4cafb, #a9ccf7, #afcdf2, #b4ceee);
}
.project-card:nth-child(3) .project-card-image{
    background-image: linear-gradient(to right top, #69cc7a, #76cf84, #82d18f, #8ed499, #99d6a3);

}
.project-card:nth-child(4) .project-card-image{
    
    background-image: linear-gradient(to right, #ee7271, #ed7f7e, #eb8c8b, #e89998, #e5a5a5);
}
.project-card:nth-child(5) .project-card-image{
    background-image: linear-gradient(to bottom, #9a63f5, #a776f8, #b488fb, #c09bfd, #ccadff);

}
.project-card-image {
    width: 100%;
    height: 450px;
    border-radius: .7rem;
}

.project-card-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: .5rem;
}

.project-card-content h3 {
    font-size: 1.5rem;
    font-weight: 700;
    color: #f5f5f5;
}

.project-card-content p {
    font-size: 16px;
    color:rgb(179, 179, 179);
}

.tags {
    margin-top: 10px;
    display: flex;
    gap: 15px;
}

.tags p {
    background-color:  rgb(38, 38, 38);;
    border: 1px solid rgba(255, 255, 255, .1);
    padding: 5px 10px;
    border-radius: 10px;
    color:rgb(179, 179, 179);
    font-size: 13px;
}