@media screen and (max-width: 600px) {
    /* #bottom-nav {
        width: 80%;
    } */

    .landing-page-content {
        font-size: .9rem;
        width: 80%;
    }
}

@media screen and (max-width:700px) {
    .project-collections-container{
        display: none;
    } 
 

}
@media screen and (max-width:815px) {
   .project-card-image{
        height: 380px;
    }
}

@media screen and (max-width:1100px) {

    .projects-container{
        width: 90%;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }
    
}